@media (min-width: 535px) and (max-width: 824px){
	[class*="col-"]{
		width: 100%;
	}

	header, section, footer{
		padding: 2%;
	}
	
	.logo-left, .nav-right{
		width: 25%;
	}
	
	.logo-left img{
		width: 100%;
	}

	.nav-right{
		padding-left: 7%;
	}

	.nav-right a{
		margin: 0% 1%;
	}

	.title-content, .p-content{
		width: 50%;
		margin-top: 1%;
	}

	form{
		width: 50%;
		margin-left: 1.5%;
		padding: 2% 0%;
	}

}